.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 80px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #262626;
}
.header a{
  color: #02a0e3;
  text-decoration: none;
}
.header a:hover{
  color: #ff8800;
}
